@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



footer {
    background-color: rgb(42,40,41);
}

h4{
    text-align:center;
}

#question {
    font-family: 'Noto Sans, Times New Roman';
    font-size: 2em;
    background-color: #385682;
    color: white;
    border: 1px, solid, #385682;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;


}